<div class="container postings">
	<div class="postings_mainbody">
		<div class="postings_header">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<h3 style="margin-left: 20px; ">Postings</h3>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="text-align: right;">
				<button class="btn postnewjob">Post a New Job</button>
				<button class="btn postnewjob">Rehire a Vendor</button>
			</div>
		</div>	
		<div class="postings_content">
			<table>
			  <tr class="theader">
			    <th style="width: 50%; padding-left: 45px;">JOB TITLE</th>
			    <th style="width: 10%;">PROPOSALS</th>
			    <th style="width: 10%;">MESSAGED</th>
			    <th style="width: 10%;">OFFERS/HIRES</th>
			    <th style="width: 10%;">STATUS</th>
			    <th style="width: 10%;"></th>
			  </tr>
			  <tr>
			    <td style="padding-left: 45px;">
			    	<h4 class="jtitle">I need Wedding service Vendor located in Lagos</h4>
			    	<h4 style="font-size: 17px;">Posted 3 days ago by You</h4>
			    </td>
			    <td>
			    	<span style="font-size: 14px;"><i class="fa fa-minus" aria-hidden="true"></i></span>
			    </td>
			    <td>
			    	<span style="font-size: 14px;"><i class="fa fa-minus" aria-hidden="true"></i></span>
			    </td>
			    <td>
			    	<span style="font-size: 14px;"><i class="fa fa-minus" aria-hidden="true"></i></span>
			    </td>
			    <td>
			    	<span style="font-size: 17px;">Public</span>
			    </td>
			    <td>
			    	<div class="btn-group" dropdown>
			    		<span dropdownToggle class="btn dropdown-toggle configbtn" ><i class="fa fa-ellipsis-h" aria-hidden="true"></i></span>
			    		  <ul *dropdownMenu class="dropdown-menu" role="menu">
							    <li role="menuitem"><a class="dropdown-item" [routerLink]="['/customer/jobscreen']">View Proposals</a></li>
							    <li role="menuitem"><a class="dropdown-item" href="#">Make Private</a></li>
							    <li role="menuitem"><a class="dropdown-item" href="#">View Job Posting</a></li>
							    <li role="menuitem"><a class="dropdown-item" href="#">Edit Posting</a></li>
							    <li role="menuitem"><a class="dropdown-item" href="#">Duplicate Posting</a></li>
							    <li role="menuitem"><a class="dropdown-item" href="#">Remove Posting</a></li>
						  </ul>
			    	</div>
			    </td>
			  </tr>
			  <tr>
			    <td style="padding-left: 45px;">
			    	<h4 class="jtitle">I need Wedding service Vendor located in Lagos</h4>
			    	<h4 style="font-size: 17px;">Posted 3 days ago by You</h4>
			    </td>
			    <td>
			    	<span style="font-size: 14px;"><i class="fa fa-minus" aria-hidden="true"></i></span>
			    </td>
			    <td>
			    	<span style="font-size: 14px;"><i class="fa fa-minus" aria-hidden="true"></i></span>
			    </td>
			    <td>
			    	<span style="font-size: 14px;"><i class="fa fa-minus" aria-hidden="true"></i></span>
			    </td>
			    <td>
			    	<span style="font-size: 17px;">Public</span>
			    </td>
			    <td>
			    	<div class="btn-group" dropdown>
			    		<span dropdownToggle class="btn dropdown-toggle configbtn" ><i class="fa fa-ellipsis-h" aria-hidden="true"></i></span>
			    		  <ul *dropdownMenu class="dropdown-menu" role="menu">
							    <li role="menuitem"><a class="dropdown-item" [routerLink]="['/customer/jobscreen']">View Proposals</a></li>
							    <li role="menuitem"><a class="dropdown-item" href="#">Make Private</a></li>
							    <li role="menuitem"><a class="dropdown-item" href="#">View Job Posting</a></li>
							    <li role="menuitem"><a class="dropdown-item" href="#">Edit Posting</a></li>
							    <li role="menuitem"><a class="dropdown-item" href="#">Duplicate Posting</a></li>
							    <li role="menuitem"><a class="dropdown-item" href="#">Remove Posting</a></li>
						  </ul>
			    	</div>
			    </td>
			  </tr>


			</table>
		</div>
	</div>
</div>


<div class="container contracts">
	<div class="contracts_mainbody">
		<div class="contracts_header">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<h3 style="margin-left: 20px; ">Contracts</h3>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="text-align: right;">
				
			</div>
		</div>
		<div class="contracts_content">
			<div class="nonecontracts">
				<table>
				  <tr class="theader">
				    <th style="width: 50%; padding-left: 45px;">JOB TITLE</th>
				    <th style="width: 10%;">STATUS</th>
				    <th style="width: 10%;">VENDOR</th>
				    <th style="width: 10%;">PAID</th>
				    <th style="width: 10%;">TOTAL BUDGET</th>
				    <th style="width: 10%;"></th>
				  </tr>
				  <tr>
				    <td style="padding-left: 45px;">
				    	<h4 class="jtitle">I need Wedding service Vendor located in Lagos</h4>
				    	<h4 style="font-size: 17px;">Started 2 days ago</h4>
				    </td>
				    <td>
				    	<h4>Active</h4>
				    </td>
				    <td>
				    	<h4>Marji</h4>
				    </td>
				    <td>
				    	<h4>$120</h4>
				    </td>
				    <td>
				    	<h4>$300</h4>
				    </td>
				    <td>
				    	<div class="btn-group" dropdown>
				    		<span dropdownToggle class="btn dropdown-toggle configbtn" ><i class="fa fa-ellipsis-h" aria-hidden="true"></i></span>
				    		  <ul *dropdownMenu class="dropdown-menu" role="menu">
								    <li role="menuitem"><a class="dropdown-item" [routerLink]="['/customer/makepayment']">Make a Payment</a></li>
								    <li role="menuitem"><a class="dropdown-item" [routerLink]="['/customer/endcontract']">End Contract</a></li>
								    <li role="menuitem"><a class="dropdown-item" (click)="openModal('dispute_modal')">Dispute</a></li>
							  </ul>
				    	</div>
				    </td>
				  </tr>

				</table>
			</div>
		</div>	
	</div>
</div>

<modal id="dispute_modal">
	    <div class="modal">
	        <div class="container modal-body">
	        	
	        	<div class="modalheader">
		            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
		            	<h2>Dispute</h2>
		            </div>
		            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
		            	<a class="closebtn" (click)="closeModal('dispute_modal');"><i class="fa fa-times" aria-hidden="true"></i></a>
		            </div>
	            </div>
	            <div class="djtitle">
	            	<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
	            		<h3 style="color: #9c8a16; font-weight: 700;">Need Wedding with Fireworks and some Cake&Flower at San Mario</h3>
	            	</div>
	            	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="color: #a76565; text-align: right;">
	            		<h4>Total Budget : $500</h4>
	            		<h4>Paid : $200</h4>
	            	</div>
	            </div>

	            <div class="dmainbody">
	            	<form name="form" (ngSubmit)="disputeform.form.valid && gotoDispute()" #disputeform="ngForm" novalidate>

		            	<div class="form-group eachform" [ngClass]="{ 'has-error': disputeform.submitted && !reason.valid }">
			            	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><h4 class="formlabel">Reason</h4></div>
			            	<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
			            		<select class="form-control select_wid" name="reason" [(ngModel)]="disputeform.reason" #reason="ngModel" required >
			            			<option value="">--Select Reason--</option>
			            			<option value="aa">A</option>
			            			<option value="bb">B</option>
			            			<option value="cc">C</option>
			            			<option value="dd">D</option>
			            		</select>
			            		<div *ngIf="disputeform.submitted && !reason.valid" class="help-block">Reason is required</div>
			            	</div>
			            </div>
			            <div class="form-group eachform" [ngClass]="{ 'has-error': disputeform.submitted && !refundmoney.valid }" style="margin-top: 30px;">
			            	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><h4 class="formlabel">Refund Request Money</h4></div>
			            	<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
			            		<input type="number" class="form-control select_wid" name="refundmoney" [(ngModel)]="disputeform.refundmoney" #refundmoney="ngModel" required />
			            		<div *ngIf="disputeform.submitted && !refundmoney.valid" class="help-block">Refund money is required</div>
			            	</div>
			            </div>
			            <div class="form-group eachform" [ngClass]="{ 'has-error': disputeform.submitted && !dcontent.valid }" style="margin-top: 30px;">
			            	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><h4 class="formlabel">Content </h4></div>
			            	<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
			            		<textarea type="number" class="form-control dtxtarea_wid" name="dcontent" [(ngModel)]="disputeform.dcontent" #dcontent="ngModel" required >
			            		</textarea>
			            		<div *ngIf="disputeform.submitted && !dcontent.valid" class="help-block">Content is required</div>
			            	</div>
			            </div>
			            <div class="form-group" style="text-align: right;">
				  			<button class="btn disputesave">Submit</button>
				  		</div>

			        </form>
	            </div>

	        </div>
	    </div>
	<div class="modal-background"></div>
</modal>