.postings{
	margin-top: 100px;
	margin-bottom: 50px;
}
.postings_mainbody{
	background-color: white;
	box-shadow: 0 1px 6px rgba(57,73,76,.35);

}
.postings_header{
	background-color: whitesmoke;
    padding: 10px;
    height: 80px;
}
.postnewjob{
    color: white;
    margin-top: 10px;
    margin-left: 30px;
    background-color: #dabc06;
    width: 180px;
    height: 40px;
    font-size: 15px;
    font-weight: 700; 
    border: #e5cd32;
    border-radius: 1px;
    padding-top: 9px;
    box-shadow: 0 1px 6px rgba(57,73,76,.35);
}
.postnewjob:hover{
    background-color: #c5b12d;
    box-shadow: 0 1px 15px rgba(57,73,76,.35);
}

.postings_content{
	background-color: white;
    padding-bottom: 30px;
}
.dpadding{
	padding: 0;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
.theader{
	border-bottom:solid 1px;
	border-top:solid 1px;
	padding-top: 20px;
	border-color: #d8d8d8;
}
th{
	font-size: 15px;
    padding: 20px;
}
td {
    padding: 20px;
    
}

.jtitle{
	font-size: 19px;
	color: #dabc07;
	font-weight: 700;
}

.configbtn{
	font-size: 18px;
    border-radius: 50px;
    color: #dabc06;
    box-shadow: 0 1px 6px rgba(57,73,76,.35);
}
.configbtn:hover{
	box-shadow: 0 1px 16px rgba(57,73,76,.35);
}

:host >>> .tooltip-inner {
        background-color: white;
        color: black;
        border: solid;
        border-color: #e5cd32;
        font-size: 15px;
      }
:host >>> .tooltip.top .tooltip-arrow:before,
:host >>> .tooltip.top .tooltip-arrow {
        border-top-color: #e5cd32;
}


.contracts{
	margin-top: 50px;
	margin-bottom: 100px;
}
.contracts_mainbody{
	background-color: white;
	box-shadow: 0 1px 6px rgba(57,73,76,.35);

}
.contracts_header{
	background-color: whitesmoke;
    padding: 10px;
    height: 80px;
}
.contracts_content{
	background-color: white;
    padding-bottom: 30px;
}

.nonecontracts{
	padding: 0px;
}


/* MODAL STYLES
-------------------------------*/
modal {
    /* modals are hidden by default */
    display: none;
}
    modal .modal {
        /* modal container fixed across whole screen */
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        /* z-index must be higher than .modal-background */
        z-index: 1000;
        
        /* enables scrolling for tall modals */
        overflow: auto;

        display: block;

        
    }
    modal .modal .modal-body {
            padding: 20px;
            background: #fff;

            /* margin exposes part of the modal background */
            margin: auto;
            margin-top: 100px;
            width: 800px !important;
            margin-bottom: 100px;
        }

    modal .modal-background {
        /* modal background fixed across whole screen */
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        /* semi-transparent black  */
        background-color: #000;
        opacity: 0.75;
        
        /* z-index must be below .modal and above everything else  */
        z-index: 900;
    }

.modal-open {
    /* body overflow is hidden to hide main scrollbar when modal window is open */
    overflow: hidden;
}
.modalheader{
    height: 100px;
}
.closebtn{
    text-decoration: none;
    cursor: pointer;
    color: #e5cd32;
    font-size: 40px;
    float: right;
}

.djtitle{
    height: 90px;
    background-color: #e2e2e2;
    border-radius: 10px;
}

.select_wid{
    height: 40px;
    width: 250px;
}
.select_wid:hover{
    border: solid 1px #e5cd32;
}

.eachform{
    height: 50px;
    padding: 10px;
    margin-top: 30px;
}

.formlabel{
    font-size: 17px;
    font-weight: 700;
}

.disputesave{
    background-color: #e5cd32;
    color: white;
    font-size: 18px;
    width: 200px;
    height: 40px;
    margin-top: 20px;
    box-shadow: 0 1px 6px rgba(57,73,76,.35);
}
.disputesave:hover{
    background-color: #bdaa2b;
}

.dtxtarea_wid{
    width: 100%;
    height: 200px;
}
.dtxtarea_wid:hover{
    border: solid 1px #e5cd32;
}