.mainpaybody{
	background-color: white;
	border: solid;
	border-color: #dcdcdc;
	border-width: 2px;
	margin-top: 50px;
	margin-bottom: 100px;
	padding: 50px;
	box-shadow: 0 1px 6px rgba(121, 119, 30, 0.35);
}


:host >>> .tooltip-inner {
        background-color: white;
        color: black;
        border: solid;
        border-color: #e5cd32;
        font-size: 15px;
      }
:host >>> .tooltip.top .tooltip-arrow:before,
:host >>> .tooltip.top .tooltip-arrow {
        border-top-color: #e5cd32;
}

.control-group {
	display: inline-block;
	margin: 10px;
	padding: 30px;
	text-align: left;
	vertical-align: top;
	background: #fff;
}
.control {
	font-size: 16px;
	position: relative;
	display: block;
	margin-bottom: 15px;
	padding-left: 30px;
	cursor: pointer;
}

.control input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.control__indicator {
	position: absolute;
	top: 2px;
	left: 0;
	width: 20px;
	height: 20px;
	background: #e6e6e6;
}

.control--radio .control__indicator {
	border-radius: 50%;
}

/* Hover and focus states */
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
	background: #ccc;
}

/* Checked state */
.control input:checked ~ .control__indicator {
	background: #e6cd32;
}

/* Hover state whilst checked */
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
	background: #e6cd32;
}

/* Check mark */
.control__indicator:after {
	position: absolute;
	display: none;
	content: '';
}

/* Show check mark */
.control input:checked ~ .control__indicator:after {
	display: block;
}

/* Radio button inner circle */
.control--radio .control__indicator:after {
	top: 7px;
	left: 7px;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: #fff;
}

.milestone_input_widget{
    width: 90%;
    height: 40px;
    padding-left: 10px;
    font-size: 17px;
    margin-top: 10px;
    border-width: 1px;
    border-color: #dcdcdc;
}
.milestone_input_widget:hover{
    border-color: #e5cd32;
    box-shadow: 0 1px 6px rgba(57,73,76,.35);
}

.addmilestone{
	color: #e5cd32;
	font-size: 15px;
	font-weight: 700;
	margin-top: 15px;
}

.byproject_body,
.milestone_body{
	height: 300px;
}
.bid_inputs{
	width: 200px;
	height: 40px;
    font-size: 15px;
}
.bid_inputs:hover{
	border-width: 1px;
	border-color: #e5cd32;
	box-shadow: 0 1px 9px rgba(121, 119, 30, 0.35);
}

.mpaymentbtn{
    color: white;
    background-color: #e5cd32;
    width: 150px;
    height: 40px;
    font-size: 15px;
    font-weight: 700; 
    border: #e5cd32;
    border-radius: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
    box-shadow: 0 1px 6px rgba(57,73,76,.35);
}
.mpaymentbtn:hover{
    background-color: #ceb830;
    box-shadow: 0 1px 15px rgba(57,73,76,.35);
}

.willend{
	color: #e5cd32;
	font-weight: 700;
	font-size: 16px;
	margin-left: 50px;
	cursor: pointer;
}
.willend:hover{
	color: #e58e32;
}