<div class="container" style="text-align: center; margin-top: 50px; margin-bottom: 50px;">
	<h2>Dispute History</h2>
</div>
<div class="container dhmainbody">
	<tabset>
	  <tab heading="Active Dispute" customClass="dhistory_tab" style="margin-bottom: 100px;">
		  	<table style="width:100%; font-size:15px;">
			  <tr>
			    <th style="width: 10%">Dispute ID</th>
			    <th style="width: 50%">Project Name</th> 
			    <th style="width: 10%">Other Party</th>
			    <th style="width: 10%">Dispute Amount</th>
			    <th style="width: 10%">Status</th>
			    <th style="width: 10%">Time to Respond</th>
			  </tr>
			  <tr class="eachhistory">
			    <td>4583827</td>
			    <td class="job_link" (click)="gotoDisputeboard()">Need for Wedding with Fireworks and Cake&flower at Los Angeles(Sunday) - PS: Tonight 10pm~12pm and Mercedez Benz , Top Service</td> 
			    <td>
			    	Margarita Aseniero
			    </td>
			    <td>
			    	$320
			    </td>
			    <td> <span class="openstatus">OPEN</span> </td>
			    <td> 09/08/17 21:33:20 </td>
			  </tr>
			  <tr class="eachhistory">
			    <td>4583827</td>
			    <td class="job_link" (click)="gotoDisputeboard()">Need for Wedding with Fireworks and Cake&flower at Los Angeles(Sunday) - PS: Tonight 10pm~12pm and Mercedez Benz , Top Service</td> 
			    <td>
			    	Margarita Aseniero
			    </td>
			    <td>
			    	$320
			    </td>
			    <td> <span class="openstatus">OPEN</span> </td>
			    <td> 09/08/17 21:33:20 </td>
			  </tr>
			</table>
	  </tab>
	  <tab heading="Closed Dispute" customClass="dhistory_tab" style="margin-bottom: 100px;">
	  		<table style="width:100%; font-size:15px;">
			  <tr>
			    <th style="width: 10%">Dispute ID</th>
			    <th style="width: 50%">Project Name</th> 
			    <th style="width: 10%">Other Party</th>
			    <th style="width: 10%">Dispute Amount</th>
			    <th style="width: 10%">Result</th>
			    <th style="width: 10%">Date Closed</th>
			  </tr>
			  <tr class="eachhistory">
			    <td>4583827</td>
			    <td class="job_link" (click)="gotoDisputeboard()">Need for Wedding with Fireworks and Cake&flower at Los Angeles(Sunday) - PS: Tonight 10pm~12pm and Mercedez Benz , Top Service</td> 
			    <td>
			    	Margarita Aseniero
			    </td>
			    <td>
			    	$320
			    </td>
			    <td> $0.00 received </td>
			    <td> 09/08/17 21:33:20 </td>
			  </tr>
			  <tr class="eachhistory">
			    <td>4583827</td>
			    <td class="job_link" (click)="gotoDisputeboard()">Need for Wedding with Fireworks and Cake&flower at Los Angeles(Sunday) - PS: Tonight 10pm~12pm and Mercedez Benz , Top Service</td> 
			    <td>
			    	Margarita Aseniero
			    </td>
			    <td>
			    	$320
			    </td>
			    <td> $39.00 paid </td>
			    <td> 09/08/17 21:33:20 </td>
			  </tr>
			  <tr class="eachhistory">
			    <td>4583827</td>
			    <td class="job_link" (click)="gotoDisputeboard()">Need for Wedding with Fireworks and Cake&flower at Los Angeles(Sunday) - PS: Tonight 10pm~12pm and Mercedez Benz , Top Service</td> 
			    <td>
			    	Margarita Aseniero
			    </td>
			    <td>
			    	$320
			    </td>
			    <td> $39.00 paid </td>
			    <td> 09/08/17 21:33:20 </td>
			  </tr>
			</table>
	  </tab>
	</tabset>
</div>