<div class="container" style="width: 100%;">
    <div class="col-sm-8 col-sm-offset-2">
    <section class="managepan">
        <button class="lsbutton" style="width: 150px; float: right;">Add Account</button>
    </section>
    
    <section class="table-wrapper">
        <div class="table-master-header">
            <h3 class="table-head-title">Account list</h3>
        </div>
        <table class="table-new sortable table-shrink tablesorter tablesorter-default" role="grid">
            <thead>
                <tr role="row" class="tablesorter-headerRow">
                    <th style="width: 400px; user-select: none;" data-column="1" class="tablesorter-header tablesorter-headerUnSorted" tabindex="0" scope="col" role="columnheader" aria-disabled="false" unselectable="on" aria-sort="none" aria-label="Plan: No sort applied, activate to apply an ascending sort"><div class="tablesorter-header-inner">Account <i></i></div></th>
                    <th data-column="2" class="tablesorter-header tablesorter-headerDesc" tabindex="0" scope="col" role="columnheader" aria-disabled="false" unselectable="on" aria-sort="descending" aria-label="Customers: Descending sort applied, activate to apply an ascending sort" style="user-select: none;"><div class="tablesorter-header-inner">Status <i></i></div>
                    </th>
                    <th data-column="3" class="tablesorter-header tablesorter-headerUnSorted" tabindex="0" scope="col" role="columnheader" aria-disabled="false" unselectable="on" aria-sort="none" aria-label="ARPU: No sort applied, activate to apply an ascending sort" style="user-select: none;"><div class="tablesorter-header-inner">Action <i></i></div>
                    </th>
                </tr>
            </thead>
            <tbody aria-live="polite" aria-relevant="all">
                <tr role="row" style="">
                    <td class="black">Pizza</td>
                    <td class="green">----</td>
                    <td class="blue"><a href="#">Add+</a></td>
                </tr>
                <tr role="row" style="">
                    <td class="black">Sushi</td>
                    <td class="green">----</td>
                    <td class="blue"><a href="#">Add+</a></td>
                </tr>
            </tbody>
        </table>
    </section>
    </div>
</div>