<div class="container dboard_head">
	<h2>Dispute Board</h2>
</div>
<div class="container dboard_mainbody">
	<h3  class="didtitle">Dispute RefID #65739463 Need Wedding with Fireworks and Cake&Flower at Los Angeles(Sunday)</h3>
	<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">

		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 dipute_list">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 eachdlist_item">
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 edl_logo">
					<img class="img-responsive opposite_logo" src="/assets/images/vendor1.jpg" />
					<h4 class="dmem_name">Jessica Hwang</h4>
					<h4 class="dmem_time">08/09/17 12:33:02</h4>
				</div>
				<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 edl_contents_opposite">
					<h5>sdfsdfasdfsdaf</h5>
					<h5>sdfsdfasdfsdaf</h5>
					<h5>sdfsdfasdfsdaf</h5>
					<h5>sdfsdfasdfsdaf</h5>
					<h5>sdfsdfasdfsdaf</h5>
					<h5>sdfsdfasdfsdaf</h5>
					<h5>sdfsdfasdfsdaf</h5>
					<h5>~~~~~~~~~~~~~~@@#####$%^^^^^^^^^^##</h5>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 eachdlist_item">
				<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 edl_contents_mine">
					<h5>sdfsdfasdfsdaf</h5>
					<h5>sdfsdfasdfsdaf</h5>
					<h5>sdfsdfasdfsdaf</h5>
					<h5>sdfsdfasdfsdaf</h5>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 edl_logo">
					<img class="img-responsive mine_logo" src="/assets/images/vendor2.png" />
					<h4 class="dmem_name">Sunny</h4>
					<h4 class="dmem_time">08/09/17 12:33:02</h4>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 eachdlist_item">
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 edl_logo">
					<img class="img-responsive opposite_logo" src="/assets/images/vendor1.jpg" />
					<h4 class="dmem_name">Jessica Hwang</h4>
					<h4 class="dmem_time">08/09/17 12:33:02</h4>
				</div>
				<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 edl_contents_opposite">
					<h5>sdfsdfasdfsdaf</h5>
					<h5>sdfsdfasdfsdaf</h5>
					<h5>sdfsdfasdfsdaf</h5>
					<h5>sdfsdfasdfsdaf</h5>
					<h5>sdfsdfasdfsdaf</h5>
					<h5>sdfsdfasdfsdaf</h5>
					<h5>sdfsdfasdfsdaf</h5>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 eachdlist_item">
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 edl_logo">
					<img class="img-responsive opposite_logo" src="/assets/images/vendor1.jpg" />
					<h4 class="dmem_name">Jessica Hwang</h4>
					<h4 class="dmem_time">08/09/17 12:33:02</h4>
				</div>
				<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 edl_contents_opposite">
					<h5>sdfsdfasdfsdaf</h5>
					<h5>sdfsdfasdfsdaf</h5>
					<h5>sdfsdfasdfsdaf</h5>
					<h5>sdfsdfasdfsdaf</h5>
					<h5>sdfsdfasdfsdaf</h5>
					<h5>sdfsdfasdfsdaf</h5>
					<h5>sdfsdfasdfsdaf</h5>
				</div>
			</div>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0; margin-bottom: 50px;">
			<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 typboard_pan">
				<textarea class="typeboard"></textarea>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 typboard_btngroup">
				<button class="btn dsubmit_btn">Submit</button>
				<button class="btn help_btn">Help by Support Team</button>
			</div>
		</div>

	</div>
	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 dipute_history">
		<div class="eachbriefbody">
			<h4 class="brieftitle">Issued date:</h4>
			<h4 class="briefcontent">07/09/2017</h4>
		</div>
		<div class="eachbriefbody">
			<h4 class="brieftitle">Reason:</h4>
			<h4 class="briefcontent">Not delivered on time</h4>
		</div>
		<div class="eachbriefbody">
			<h4 class="brieftitle">Refund Money:</h4>
			<h4 class="briefcontent">$340</h4>
		</div>
		<div class="eachbriefbody">
			<h4 class="brieftitle">Status:</h4>
			<h4 class="briefcontent statusval">OPEN</h4>
		</div>
		<div class="eachbriefbody" style="text-align: center; margin-top: 50px;">
			<button class="btn solved_btn">SOLVE</button>
		</div>
	</div>
</div>