	.review-contents{
		margin-bottom: 0.375rem;
		margin-left: 20px;
		font-size: 18px;
	}
	.review-details{
		margin-bottom: 0.375rem;
		margin-left: 20px;
		font-size: 18px;
		font-weight: 700;
		color: #6e6e71;
	}
	.review-body{
		background-color: white;
		height: 500px;
		border-radius: 5px;
		border-style: solid;
		border-width: 1px;
		border-color: #f3f1e2;

		box-shadow: 3px 3px 3px #888888;
	}
	wrating{
		margin-left: 15px;
	}