<div class="container" style="margin-top: 50px;">
	<h2>Post Job</h2>
</div>
<div class="container postjob">
	<div class="postjob_mainbody">
		<div class="postjob_header">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<h3>Describe the Job</h3>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="text-align: right;">
				
			</div>
		</div>	
		<div class="postjob_content">
			<form name="postjobform" (ngSubmit)="postjobform.valid && doPostjob()" #postjobform="ngForm" novalidate>
				<div style="" class="form-group" [ngClass]="{ 'has-error': postjobform.submitted && !jobname.valid }">
			  		<label style="font-size: 17px;"><i class="fa fa-header" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Name your job posting</label>
			  		<input placeholder="Need Cake with Flower at 16th January" type="text" class="form-control pj-widgets" name="jobname" [(ngModel)]="jobmodel.jobname" #jobname="ngModel" required />
			  		<div *ngIf="postjobform.submitted && !jobname.valid" class="help-block">Job Posting name is required</div>
		  		</div>
		  		<div style="" class="form-group" [ngClass]="{ 'has-error': postjobform.submitted && !jobdescription.valid }">
			  		<label style="font-size: 17px;"><i class="fa fa-book" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Describe the work to be done</label>
			  		<textarea style="height: 250px;" class="form-control pj-widgets" name="jobdescription" [(ngModel)]="jobmodel.jobdescription" #jobdescription="ngModel" required >
			  			
			  		</textarea>
			  		<div *ngIf="postjobform.submitted && !jobdescription.valid" class="help-block">Job Posting name is required</div>
		  		</div>
		  		<div style="" class="form-group">
			  		<label style="font-size: 17px;"><i class="fa fa-users" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;How many vendors do you need to hire for this job?</label>
			  		<p></p>
			  		<div class="control-group">
						<label class="control control--radio">I want to hire one vendor
							<input type="radio" name="radio" checked="checked" [(ngModel)]="jobmodel.hireway" value="one"/>
							<div class="control__indicator"></div>
						</label>
						<label class="control control--radio">I need to hire more than one vendor
							<input type="radio" name="radio" [(ngModel)]="jobmodel.hireway" value="onemore"/>
							<div class="control__indicator"></div>
						</label>
					</div>
		  		</div>
		  		<div style="" class="form-group" [ngClass]="{ 'has-error': postjobform.submitted && !ecategory_selectedItems.valid }">
			  		<label style="font-size: 17px;"><i class="fa fa-tag" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;What kinds of Event Category will you use?</label>
			  		<p></p>
				  	<angular2-multiselect name="ecategory_selectedItems" [data]="jobmodel.ecategory_dropdownList" [(ngModel)]="jobmodel.ecategory_selectedItems" [settings]="jobmodel.ecategory_dropdownSettings"
										(onSelect)="oneItemSelect($event)" 
									    (onDeSelect)="OneItemDeSelect($event)"
									    (onSelectAll)="oneSelectAll($event)"
									    (onDeSelectAll)="oneDeSelectAll($event)" #ecategory_selectedItems="ngModel" required >
					  <c-item>
					          <ng-template let-item="item">
					            <label style="color: #333;min-width: 150px;">{{item.itemName}}</label>
					            <img [src]="item.image" style="width: 30px; border: 1px solid #efefef;margin-right: 20px;" />
					          </ng-template>
					  </c-item>    
					</angular2-multiselect>
					<div *ngIf="postjobform.submitted && !ecategory_selectedItems.valid" class="help-block">Event Category required</div>
		  		</div>

		  		<div style="" class="form-group" [ngClass]="{ 'has-error': postjobform.submitted && !escategory_selectedItems.valid }">
			  		<label style="font-size: 17px;"><i class="fa fa-tag" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;What your Event Details?</label>
			  		<p></p>
				  	<angular2-multiselect name="escategory_selectedItems" [data]="jobmodel.escategory_dropdownList" [(ngModel)]="jobmodel.escategory_selectedItems" [settings]="jobmodel.escategory_dropdownSettings"
										(onSelect)="onesItemSelect($event)" 
									    (onDeSelect)="OnesItemDeSelect($event)"
									    (onSelectAll)="onesSelectAll($event)"
									    (onDeSelectAll)="onesDeSelectAll($event)" #escategory_selectedItems="ngModel" required >
					  <c-item>
					          <ng-template let-item="item">
					            <label style="color: #333;min-width: 150px;">{{item.itemName}}</label>
					            <img [src]="item.image" style="width: 30px; border: 1px solid #efefef;margin-right: 20px;" />
					          </ng-template>
					  </c-item>    
					</angular2-multiselect>
					<div *ngIf="postjobform.submitted && !escategory_selectedItems.valid" class="help-block">Event Detail required</div>
		  		</div>
		  		<div style="" class="form-group" [ngClass]="{ 'has-error': postjobform.submitted && !jobschedule.valid }">
			  		<label style="font-size: 17px;"><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Set the Event Schedule what you will do?</label>

			  		<input name="jobschedule" placeholder="Choose Date Range" class="form-control cdrwidget" #drp="bsDaterangepicker" bsDaterangepicker [(ngModel)]="jobmodel.jobschedule" #jobschedule="ngModel" required >
			  		<div *ngIf="postjobform.submitted && !jobschedule.valid" class="help-block">Event Schedule is required</div>
		  		</div>
		  		<div class="form-group" style="text-align: left; margin-top: 50px;">
			            <button [disabled]="loading" class="btn btn btn-default btn-sm dopostjob">Post a Job</button>
			            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
			            <p></p>
			            
			    </div>


			</form>
		</div>
	</div>
</div>