<nav class="navbar navbar-default" style="background-color: white; margin-bottom: 0px; box-shadow: 1px 1px 5px #888888;">
  <div class="container-fluid">
    <div class="navbar-header rom-header">
      <h1>
        <a class="logo" href="/" style="background: url('assets/images/testlogo.png') no-repeat center;" >MKG</a>
        <span class="site-title">
            FANTHY FRUTY <p></p>FEATURES
        </span>
      </h1>
    </div>
    <ul class="nav navbar-nav firstheaderleft" style="float: left; margin-top: 20px;  margin-left: 30px;">
      <li><a [routerLink]="['/']">Home</a></li>
      <li><a href="#">Vendor Category</a></li>
      <li><a href="#">How it Works</a></li>
    </ul>
    <ul class="nav navbar-nav firstheaderright" style="float: right; margin-top: 20px;">
      <li><a [routerLink]="['/login']"><span style="color: #c19415;"><i class="fa fa-sign-in" aria-hidden="true"></i></span>&nbsp;&nbsp;Sign In</a></li>
      <li><a class="rbtn rbtn-default header-cta-feh" [routerLink]="['/register']">Become a Member</a></li>
    </ul>
  </div>
</nav>
