.landingbody{
    margin-top: -40px;
    position: relative;
}
.searchbox{
    height: 150px;
    background-color: #0e2d4cba;
    border-color: bisque;
    border-radius: 10px;
    padding-top: 50px;

    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #ab9595;
}
.searchbox select{
  height: 45px;
}
.searchbox input{
  height: 45px;
}
.searchbox button{
  height: 45px;
  width: 100%;
  border-radius: 10px;
  background-color: #edda38;
  border-color: #eeda38;
}

.reviews_list
{
  margin-top: 100px;
}
.reviews_title{
    text-align: center;
    font-weight: 700;
    font-family: cursive;
    margin-bottom: 50px;
}
.review_more{
  text-align: center;
}
.review_more button{
    height: 40px;
  width: 150px;
  border-radius: 10px;
  background-color: #edda38;
  border-color: #eeda38;
  margin-top: 50px;
  font-weight: 700;
}


.how_it_work{
  background-color: #dededb;
  padding-top: 100px;
  margin-top: 100px;
}
.how_it_work_title{
  text-align: center;
  font-weight: 700;
  font-family: cursive;
  margin-bottom: 50px;
}


.progressing{
  background-color: white;
      padding-top: 100px;
    padding-bottom: 50px;
}
.progressing_title{
  text-align: center;
  font-weight: 700;
  font-family: cursive;
  margin-bottom: 50px;
}
.proimage{
    width: 100%;
}
.protitle{
  text-align: center;
  font-weight: 700;
}
.procontents{
  text-align: center;

}
.wocutstomersays{
  margin-top: 50px;
}
.customerstitle{
      height: 300px;
    background-color: beige;
    border-color: bisque;
    border-style: dashed;
    border-radius: 5px;

}
.customerstitle h2{
      text-align: center;
    font-style: oblique;
    font-family: sans-serif;
    font-weight: 700;
    margin-top: 40px;
    color: #bf5a5a;
}
.customerstitle h4{
      margin-top: 60px;
}


.partnerlogos{
  background-color: #eeda38;
  padding-bottom: 50px;
}
.companylogo{
      width: 100%;
    height: 136px;
    margin-top: 38px;
}