<!-- core/static.component.html -->
<header class="main-header" role="banner">
    <h1>
        <a class="logo" [routerLink]="['/customer/home']" style="background: url('assets/images/testlogo.png') no-repeat center;" >MKG</a>
        <span>
            for<strong style="font-weight: 900; color: white;">MKG</strong>
            <em>
            (Yes, these are our<a href="#" style="color: white;">actual metrics</a>)
            </em>
        </span>
    </h1>
    <nav class="staticnav">
    <ul>
        <li><a href="#">Dashboard</a></li>
        <li>
            <a href="#">Leverager</a>
        </li>
        <li>
            <a href="#">Setting<span class="caret"></span></a>
            <div>
                <ul>
                    <li><a [routerLink]="['/customer/account']">Account</a></li>
                    <li><a [routerLink]="['/customer/location']">Location</a></li>
                </ul>
            </div>
        </li>
        <li><a href="#" (click)="logout()">LogOut</a></li>
    </ul>
</nav>
</header>
