.permissionboard{
	margin-top: 100px;
	margin-bottom: 100px;
	background-color: white;
	box-shadow: 0 1px 6px rgba(57,73,76,.35);
	padding: 20px;

}

.actionbtn_group{
	background-color: #e0e0e0;
	padding: 20px 10px;
	height: 80px;
	margin-top: 30px;
}

.filterpanel{
    background-color: #e0e0e0;
    padding: 20px 10px;
    height: 160px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.filterwidget
{
    width: 100%;
    height: 35px;
    font-size: 17px;
    border-radius: 5px;
    border: none;
}

.filterwidget:hover{
    border: 1px solid #eed665;
}

.normalbtn{
    font-size: 17px;
    background-color: white;
    box-shadow: 0 1px 6px rgba(57,73,76,.35);
}

.normalbtn:hover{
    background-color: #e6cd32;
}

.savebtn{
	font-size: 17px;
	background-color: #eed665;
	border: 1px solid #ffbc00;
	box-shadow: 0 1px 6px rgba(57,73,76,.35);
    width: 100%;
    height: 35px;
}


.filtered_results{
    margin-top: 30px;
    margin-bottom: 30px;
}


/* Style the buttons inside the tab */

div.tab{
	background-color: #e0e0e0;
    margin-top: 50px;
    padding-right: 0;
    padding-bottom: 20px;
}


div.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
    height: 50px;
    padding-top: 12px;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #fff7f7;
}

/* Create an active/current "tab button" class */
div.tab button.active {
   background-color: #fff;
    color: #e5cd32;
    padding: 10px 20px 9px;
    text-decoration: none;
}
div.tab button.active:before {
    content: " ";
    position: relative;
    border-left: 4px solid #e5cd32;
    left: 0;
    right: auto;
    top: -15px;
    margin-right: 20px;
    margin-left: -20px;
    border-bottom: 30px solid #e5cd32;
}

/* Style the tab content */

div.tab h4{
    font-family: inherit;
    font-weight: 700;
}

.tabtitle{
	padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #b3b3b3;
    margin-bottom: 20px;
}

.tabcontent{
	padding: 50px;
}

.bottomborder{
	padding-bottom: 10px;
    border-bottom: 1px solid #afafaf;
}

.comissionchange{
	float: left;
    padding: 10px;
    font-size: 17px;
    margin-left: 20px;
}

.market_dash{
	height: 200px;
	padding: 50px;
}

.each_md_item{
	height: 50px;
}

.each_md_item_label{
	font-size: 17px; font-weight: 700; float: left;
}
.each_md_item_value{
	font-size: 17px; float: right;
}


.each_info_form{
	padding-right: 150px;
    padding-left: 0px;
    margin-top: 20px;
}

.vinfo_widget{
	width: 70%;
    height: 35px;
    margin-left: 20px;
    font-size: 17px;
    font-weight: 100;
    float: right;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-size: 16px;
}

tr:nth-child(even) {
    background-color: #f1f1f1;
}

.each_acc_info{
	margin-top: 30px;
	height: 40px;
	width: 300px;
}

.active_span{
    background-color: #29f1f1;
    padding: 5px;
    border-radius: 5px;
}

.inactive_span{
    background-color: #f1d829;
    padding: 5px;
    border-radius: 5px;
}

.deactive_span{
    background-color: #c74d00;
    padding: 5px;
    border-radius: 5px;
}

.actions{
    width: 150px;
    height: 40px;
    font-size: 17px;
}

.pager{
    background-color: #d4d4d4;
    font-size: 20px;
    padding: 5px;
    width: 40px;
    cursor: pointer;
    margin-left: 30px;
}

.numfield{
    width: 40px;
    height: 40px;
    margin-left: 30px;
}


.control-group {
    display: inline-block;
    margin: 10px;
    padding: 30px;
    text-align: left;
    vertical-align: top;
    background: #fff;
}
.control {
    font-size: 16px;
    position: relative;
    display: block;
    margin-bottom: 15px;
    padding-left: 30px;
    cursor: pointer;
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    width: 20px;
    height: 20px;
    background: #e6e6e6;
}

.control--radio .control__indicator {
    border-radius: 50%;
}

/* Hover and focus states */
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
    background: #ccc;
}

/* Checked state */
.control input:checked ~ .control__indicator {
    background: #e6cd32;
}

/* Hover state whilst checked */
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
    background: #e6cd32;
}

/* Check mark */
.control__indicator:after {
    position: absolute;
    display: none;
    content: '';
}

/* Show check mark */
.control input:checked ~ .control__indicator:after {
    display: block;
}

/* Radio button inner circle */
.control--radio .control__indicator:after {
    top: 7px;
    left: 7px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
}


.vendor_brief_info{
    background-color: #f7f7f7;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    height: 400px;
}

.vendor_logo
{
    width: 100%;
    border: solid 3px white;
}

.will_change
{
    margin-bottom: 50px;
}

.permissionlist{
    height: 40px;
    border-radius: 5px;
    font-size: 16px;
    width: 200px;
}

.submiters{
    color: white;
    background-color: #e5cd32;
    width: 100%;
    height: 40px;
    font-size: 15px;
    font-weight: 700; 
    border: #e5cd32;
    border-radius: 1px;
    padding: 8px;
    text-decoration-line: none;
    box-shadow: 0 1px 6px rgba(57,73,76,.35);
}

.submiters:hover{
    background-color: #c5b12d;
    box-shadow: 0 1px 15px rgba(57,73,76,.35);
}

.user_brief_info{
    background-color: #f7f7f7;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    height: 400px;
}

.rolelist{
    height: 40px;
    border-radius: 5px;
    font-size: 16px;
    width: 200px;
}