<div class="container heading">
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
		<h2>Job Postings</h2>
		<select class="findcategory">
			<option>All Job Postings</option>
			<option>Open Jobs</option>
			<option>Filled Jobs</option>
			<option>Closed Jobs</option>
			<option>Draft Jobs</option>
		</select>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="text-align: right;">
		<button class="btn postnewjob">Post a Job</button>
	</div>
</div>
<div class="container postings">
	<div class="postings_mainbody">
		<div class="postings_content">
			<table>
			  <tr class="theader">
			    <th style="width: 50%; padding-left: 45px;">Job</th>
			    <th style="width: 10%;">Status</th>
			    <th style="width: 10%;">Date Posted</th>
			    <th style="width: 10%;">Posted By</th>
			    <th style="width: 10%;">Hires</th>
			    <th style="width: 10%;"></th>
			  </tr>
			  <tr>
			    <td style="padding-left: 45px;">
			    	<h4 class="jtitle">I need Wedding service Vendor located in Lagos</h4>
			    </td>
			    <td>
			    	<span style="font-size: 15px; color: #dabc06; font-weight: 700;">Open</span>
			    </td>
			    <td>
			    	<span style="font-size: 15px;">8:01am  2 minutes ago</span>
			    </td>
			    <td>
			    	<span style="font-size: 15px;">Tim Mark</span>
			    </td>
			    <td>
			    	<span style="font-size: 15px;"></span>
			    </td>
			    <td>
			    </td>
			  </tr>
			</table>
		</div>
	</div>
</div>